<link rel="stylesheet" href="check.css" />
<link href="https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap" rel="stylesheet">
<html>
  <body>
    <div class="container">
      <h1><strong>Student registration information</strong></h1>
      <div class="details">
        <p>
          <strong>First Name : <%=fname%> <br /> <br>
          Middle Name : <%=mname%> <br /> <br>
          Last Name : <%=lname%> <br /> <br>
          VTU number : <%=vtunumber%> <br /> <br>
          Phone Number : <%=phonenumber%> <br /></strong>
        </p>
      </div>
    </div>
  </body>
</html>
